@using System.Web.Optimization;
@RenderSection("scripts", required: false)
<html style="height: auto; min-height: 100%;">
<head>
    <base href="#">
    <meta charset="utf-8" />
    <title> COBA</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="~/plugins/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body ng-app="reportApp" ng-controller="MainController" class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>ACHI</b></span>
                <span class="logo-lg"><b>ACHI</b></span>
            </a>

            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
         
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@Convert.ToString(Session["UserName"])</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @Convert.ToString(Session["UserName"]) - Web Developer
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "Home")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@Convert.ToString(Session["UserName"]) </p>
                        <a href="#"><i class="fa fa-circle text-success"></i>Admin</a>
                    </div>
                </div>
                    
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">

                    <li class='@Html.IsActive("Main", "Index")' aria-haspopup="true">
                        <a href="Index"><i class="fa fa-circle-o"></i> 
                            Dashboard
                        </a>
                    </li>
                    <li class='@Html.IsActive("Main", "Strategy")'>
                        <a href="Strategy">
                            <i class="fa fa-circle-o"></i>    Strategy
                        </a>
                    </li>

                    <li class='@Html.IsActive("Main", "Tasks")'>
                        <a href="Tasks"><i class="fa fa-circle-o"></i> 
                            Change Management
                        </a>
                    </li>

                    <li class='@Html.IsActive("Main", "MapTask")'>
                        <a href="MapTask"><i class="fa fa-circle-o"></i> 
                            Map Strategy
                        </a>
                    </li>
                    <li class='@Html.IsActive("Main", "Approvals")'>
                        <a href="Approvals"><i class="fa fa-circle-o"></i>
                            Approvals
                        </a>
                    </li>
                    <li class='@Html.IsActive("Main", "Emails")'>
                        <a href="Emails">
                            <i class="fa fa-circle-o"></i> 
                             Emails
                            
                        </a>
                    </li>

                    <li class='@Html.IsActive("Main", "Reports")' aria-haspopup="true">
                        <a href="Reports"><i class="fa fa-circle-o"></i> 
                            Reports
                        </a>
                    </li>

                    <li class='@Html.IsActive("Main", "Licensing")' aria-haspopup="true">
                        <a href="Licensing"><i class="fa fa-circle-o"></i> 
                            <i class="icon-briefcase"></i> Licensing
                        </a>

                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Copyright &copy; 2017 COBA</strong> All rights
                reserved.
            </div>
        </footer>
    </div>
    <script src="~/plugins/moment.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../bower_components/fastclick/lib/fastclick.js"></script>
    <script src="../../dist/js/adminlte.min.js"></script>
    <script src="../../dist/js/demo.js"></script>


    <script src="~/plugins/bootstrap-datetimepicker.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script data-require="ui-bootstrap@0.12.1" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>

    <script type="text/javascript" src="~/plugins/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="~/plugins/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>

    <script src="../js/ReportApp.js"></script>
    @*<script src="../js/UserApp.js"></script>
        <script src="../js/RoleApp.js"></script>*@
    
    <script src="../js/HomeApp.js"></script>
    <script src="~/js/controllers/ApprovalsController.js"></script>
    <script src="~/js/controllers/StrategyController.js"></script>
    <script src="../js/controllers/TaskController.js"></script>
    <script src="~/js/controllers/OnboardingTaskController.js"></script>
    <script src="~/js/controllers/MapTaskController.js"></script>
    <script src="~/js/controllers/EmailsController.js"></script>
    <script src="~/js/services/TaskService.js"></script>
    <script src="~/js/services/OnboardingTaskService.js"></script>
    <script src="~/js/services/StrategyService.js"></script>
    <script src="~/js/services/EmailService.js"></script>
    <script src="~/js/services/MapTaskService.js"></script>

    <style>
        

        .whitebg {
            background: #fff;
            padding: 12px 20px 15px;
        }

        .container {
            width: 99%;
        }

        .grid {
            width: 100%;
            height: 380px;
        }

        .grid-tooltip {
            overflow: visible;
            z-index: 9999999;
            float: left;
        }

        .ui-grid-header-cell-wrapper {
            height: 8% !important;
        }

        .btn-outline {
            background-color: transparent;
            color: inherit;
            transition: all .5s;
        }

        .btn-outline-info {
            color: #5bc0de;
            background-image: none;
            background-color: transparent;
            border-color: #3c8dbc;
        }

            .btn-outline-info:hover {
                color: #fff;
                background-color: #5bc0de;
                border-color: #3c8dbc;
            }

        .ui-grid-cell-contents > a {
            font-size: 15px;
            margin-left: 25%;
            color: #3c8dbc;
        }
        .table{
            font-size:14px !important;
        }

        /*.navbar-nav > li > a {
            padding-top: 18px;
            font-size: 15px;
        }

        .main-header .navbar {
            min-height: 55px;
        }*/
    </style>
</body>
</html>
