@using System.Web.Optimization;
@Scripts.Render("~/bundles/customscripts")
@RenderSection("scripts", required: false)
<!DOCTYPE html>
<html>
<head>
    <title>Case Management System</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
    
</head>
<body class="hold-transition login-page">

    @RenderBody()
</body>

@RenderSection("scripts", required: false)
@RenderSection("styles", required: false)
</html>
@Html.Hidden("RedirectToHome", Url.Action("Index", "Home", new { Page = @Request.QueryString["Page"] }))